Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt

Change hardcoded workspace to env var
  docker/.env.example
  docker/docker-compose.example.yml
  docker/docker-compose.override.example.yml
Labels: none

Makefile now uses env.example for docker-compose
  Makefile
Labels: ci

Make geoserver requests tests optionnal
  Makefile
Labels: ci

Implement shapefile publishing as Task
  cowbird/services/impl/geoserver.py
  tests/test_request_task.py
Labels: tests

Update standalone geoserver tests
  tests/test_geoserver.py
Labels: tests

Implement pip resolver workaround
  CHANGES.rst
  Makefile
  requirements-dev.txt
Labels: ci, doc, tests

Docstring formatting
  cowbird/services/impl/geoserver.py
  tests/test_geoserver.py
Labels: tests

Fix pycodestyle version
  requirements-doc.txt
Labels: doc

Fix check errors
  README.rst
  cowbird/services/impl/geoserver.py
  docs/conf.py
Labels: doc

Add missing period in docker .env.example
  docker/.env.example
Labels: none

Add comment to `geoserver_response_handling` decorator
  cowbird/services/impl/geoserver.py
Labels: none

Remove python version checks from requirements
  requirements-dev.txt
  requirements-doc.txt
Labels: doc, tests

Replace ServiceFactory with get_instance
  cowbird/services/impl/geoserver.py
Labels: none

Move credential keys to `geoserver.py`
  cowbird/services/impl/geoserver.py
  cowbird/services/service.py
Labels: none

Add specificity to the get_instance function
  cowbird/monitoring/fsmonitor.py
Labels: none

Move wait time to worker task
  cowbird/services/impl/geoserver.py
Labels: none

Create test target specific for CI
  .github/workflows/tests.yml
  Makefile
Labels: ci

Fix linting
  cowbird/services/impl/geoserver.py
Labels: none

`geoserver_response_handling` now raises exceptions
  cowbird/services/impl/geoserver.py
  tests/test_geoserver.py
Labels: tests

Add details to GeoserverError docstring
  cowbird/services/impl/geoserver.py
Labels: none

Small refactor of `geoserver_response_handling`
  cowbird/services/impl/geoserver.py
  tests/test_geoserver.py
Labels: tests

final touch up to tests
  Makefile
  docker/.env.example
  setup.cfg
  tests/resources/Espace_Vert.cpg
  tests/resources/Espace_Vert.prj
  tests/resources/Espace_Vert.shp
  tests/resources/Espace_Vert.shx
  tests/test_geoserver.py
  tests/test_request_task.py
Labels: ci, tests

Fix check-lint error
  tests/test_geoserver.py
Labels: tests

first draft of implementation for magpie create permission, with related test
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/magpie.py
  setup.cfg
  tests/test_magpie.py
Labels: ci, tests

change config.yml to support multiple routes per services, using labels to associate these routes to the permissions_mappings
  cowbird/permissions_synchronizer.py
  tests/test_magpie.py
Labels: tests

Update bandit from 1.6.2 to 1.7.4
  requirements-dev.txt
Labels: tests

Update bandit from 1.6.2 to 1.7.4
  requirements-dev.txt
Labels: tests

fix broken pymongo install
  requirements.txt
Labels: none

update changelog
  CHANGES.rst
Labels: doc

add pymongo extra srv
  requirements.txt
Labels: none

ignore vendor-specific CSS prefix usually added for backward compatibiity
  .dockerignore
  .gitignore
  .stylelintrc.json
Labels: ci

fix css with proper setting
  .stylelintrc.json
Labels: ci

Bump version: 0.4.0 → 0.4.1
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

first untested draft of using the new config format with **/* tokens for resource names
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/magpie.py
  tests/test_magpie.py
Labels: tests

add config validation at cowbird startup and add new config tests
  cowbird/api/webhooks/views.py
  cowbird/app.py
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: api, tests

add tests that use tokens
  cowbird/permissions_synchronizer.py
  cowbird/services/service_factory.py
  tests/test_magpie.py
Labels: tests

add tests for invalid cases
  tests/test_magpie.py
Labels: tests

refactor tokens and handle errors in magpie create/delete fonctions
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/magpie.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

reformat test data
  tests/test_permissions_synchronizer.py
Labels: tests

refactor sync method
  cowbird/permissions_synchronizer.py
Labels: none
