Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt

monitors are correctly serialize/restore to/from database
  cowbird/app.py
  cowbird/database/base.py
  cowbird/database/mongodb.py
  cowbird/database/stores.py
  cowbird/monitoring/monitor.py
  cowbird/services/impl/catalog.py
  tests/test_monitoring.py
Labels: tests

workspace monitoring draft for the catalog (a new file in the user workspace generate an event properly)
  config/config.example.yml
  cowbird/__init__.py
  cowbird/api/home/views.py
  cowbird/api/webhooks/views.py
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/services/service.py
  cowbird/services/service_factory.py
  docker/user_workspaces/shared_with_user2/hl_shared_with_user2
  docker/user_workspaces/user1/shared_with_user2
Labels: api

fix monitoring way to cache monitors and improve docstring/errors handling
  cowbird/database/stores.py
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
Labels: none

fix worker version reporting
  cowbird/api/home/views.py
Labels: api

add mongodb test file to be completed
  tests/test_mongodb.py
Labels: tests

fix some tests
  cowbird/services/service.py
  tests/test_monitoring.py
  tests/test_permissions_synchronizer.py
  tests/test_service_factory.py
  tests/utils.py
Labels: tests

handle properly monitor registeration with collision
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
  tests/test_monitoring.py
Labels: tests

add tests for service configuration
  cowbird/services/service.py
  tests/test_service_factory.py
  tests/utils.py
Labels: tests

fix linting
  cowbird/api/webhooks/views.py
  cowbird/app.py
  cowbird/database/base.py
  cowbird/database/mongodb.py
  cowbird/database/stores.py
  cowbird/monitoring/fsmonitor.py
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/service.py
  cowbird/utils.py
  tests/test_mongodb.py
  tests/test_monitoring.py
  tests/test_service_factory.py
Labels: api, tests

Update changelog for upcoming 0.4.0 version
  CHANGES.rst
Labels: doc

add missing file for ci tests
  tests/ci/test.env
Labels: tests

fix github tests by adding mongo service
  .github/workflows/tests.yml
  tests/ci/test.env
  tests/utils.py
Labels: ci, tests

update compose configs with mongo backend and workspaces
  .gitignore
  Makefile
  docker/config/cowbird/cowbird.env
  docker/docker-compose.override.example.yml
  tests/ci/docker-compose.smoke-test.yml
Labels: ci, tests

small fixes
  Makefile
  tests/utils.py
Labels: ci, tests

celery tasks are now autodiscovered
  CHANGES.rst
  cowbird/app.py
  cowbird/utils.py
Labels: doc

fix tests and cli with autodiscovered tasks
  cowbird/cli/services.py
  cowbird/utils.py
  tests/utils.py
Labels: cli, tests

fix docker image because of missing grep package
  cowbird/utils.py
  docker/Dockerfile-base
Labels: none

add mongo database tests
  setup.cfg
  tests/test_mongodb.py
  tests/test_monitoring.py
Labels: ci, tests

add a test for prioritized services list
  tests/test_service_factory.py
Labels: tests

fix linting
  cowbird/cli/services.py
  cowbird/utils.py
  tests/test_mongodb.py
  tests/utils.py
Labels: cli, tests

fix docstrings
  config/config.example.yml
  cowbird/app.py
Labels: none

improve docstrings
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
Labels: none

fix potential issue and remove useless store return value
  cowbird/database/stores.py
  cowbird/monitoring/monitoring.py
Labels: none

add log, fix typo
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
Labels: none

handle properly some filesystem exceptions
  cowbird/api/webhooks/views.py
  cowbird/services/impl/filesystem.py
Labels: api

reuse variables where possible
  cowbird/services/service.py
  cowbird/utils.py
Labels: none

add docstrings and comment on the use of two internal app settings
  cowbird/cli/services.py
  cowbird/utils.py
  tests/utils.py
Labels: cli, tests

fix some codacity errors
  .codacy.yml
  cowbird/database/base.py
  cowbird/database/mongodb.py
  cowbird/database/stores.py
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
Labels: ci

fix correctly unused-import errors
  cowbird/database/mongodb.py
  cowbird/database/stores.py
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
Labels: none

add a useful setting to force the public port of the service
  config/cowbird.example.ini
Labels: none

add docstrings and some linting fix
  cowbird/database/__init__.py
  cowbird/database/base.py
  cowbird/database/mongodb.py
  cowbird/database/stores.py
  cowbird/monitoring/monitor.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/typedefs.py
  cowbird/utils.py
Labels: none

Bump version: 0.3.0 → 0.4.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

add ssl_verify setting
  config/cowbird.example.ini
  cowbird/api/webhooks/views.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/services/service.py
  cowbird/services/service_factory.py
  cowbird/utils.py
  tests/test_service_factory.py
  tests/utils.py
Labels: api, tests

fix docker configs
  docker/config/cowbird/cowbird.env
  docker/docker-compose.dev.example.yml
  docker/docker-compose.example.yml
Labels: none

add a change note
  CHANGES.rst
Labels: doc

ssl_verify setting parsing is more robust
  cowbird/utils.py
Labels: none

add explicit DockerHub build hook to build both worker/webservice images
  hooks/.gitignore
  hooks/README.md
  hooks/build
Labels: ci

add docker image references & links to readme table
  README.rst
Labels: doc

fix docker image links
  README.rst
Labels: doc

fix breaking astroid==2.7 with sphinx-autoapi (relates to https://github.com/readthedocs/sphinx-autoapi/issues/301)
  requirements-doc.txt
Labels: doc
