Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt

add `workflow_dispatch` to tests CI
  .github/workflows/tests.yml
Labels: ci

update Makefile to use 'docker compose' instead of 'docker-compose' by default
  Makefile
Labels: ci

fix typings + drop python 3.8 + pin deps for securit vulnerability fixes
  .github/workflows/tests.yml
  CHANGES.rst
  cowbird/monitoring/monitor.py
  cowbird/utils.py
  requirements-sys.txt
  requirements.txt
  setup.py
Labels: ci, doc

backward compat union typing for python 3.9
  cowbird/utils.py
Labels: none

update CI tests no `skip_duplicate` on master/tags
  .github/workflows/tests.yml
Labels: ci

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix: docker/Dockerfile-base to reduce vulnerabilities
  docker/Dockerfile-base
Labels: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix: docker/Dockerfile-base to reduce vulnerabilities
  docker/Dockerfile-base
Labels: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

Do not treat handlers actions that have not been implemented as a dispatch failure
  CHANGES.rst
  cowbird/api/webhooks/views.py
Labels: api, doc

do it different
  cowbird/api/webhooks/views.py
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/handlers/impl/nginx.py
  cowbird/handlers/impl/thredds.py
Labels: api

update log levels for messages
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/handlers/impl/nginx.py
  cowbird/handlers/impl/thredds.py
Labels: none

update magpie log messages
  cowbird/handlers/impl/magpie.py
Labels: none

fix secrets-scan action
  .github/.gitleaks.toml
  .github/workflows/secret-scan.yml
Labels: ci
