Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt

add config parameter for the wps outputs resource name from Magpie
  config/config.example.yml
  cowbird/config.py
  cowbird/handlers/impl/filesystem.py
  cowbird/typedefs.py
Labels: none

disable write permissions on wps outputs data
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

update doc
  docs/components.rst
  docs/conf.py
Labels: none

update ignore anchors for linkcheck
  cowbird/handlers/impl/filesystem.py
  docs/conf.py
Labels: none

adjust documentations after pr feedback
  cowbird/utils.py
  docs/components.rst
  tests/test_filesystem.py
Labels: tests

bump sphinx version and ignore anchors on birdhouse linkchecks
  docs/conf.py
  requirements-doc.txt
Labels: doc

adjust 'wpsoutputs' keywords to 'wps_outputs' instead
  cowbird/handlers/impl/filesystem.py
  cowbird/monitoring/monitoring.py
  docker/.env.example
  docker/config/cowbird/cowbird.env
  docs/components.rst
  tests/test_filesystem.py
Labels: tests

Bump version: 2.0.0 → 2.1.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

Add an optional field and regex to the config schema and add ressource display name to resourceSegment
  cowbird/config.py
  cowbird/typedefs.py
Labels: none

Add resource_display_name to permission
  cowbird/api/webhooks/views.py
Labels: api

Updated permission_synchronizer to allow the use of regex for resource mapping
  cowbird/permissions_synchronizer.py
Labels: none

Fix typing for python 3.5
  cowbird/permissions_synchronizer.py
  cowbird/typedefs.py
Labels: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix permission constructor and matching res for backward compatibility
  cowbird/permissions_synchronizer.py
Labels: none

fixing code lint
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  cowbird/typedefs.py
Labels: none

Changing function and return type to fix typing error
  cowbird/permissions_synchronizer.py
Labels: none

Adding change log and function comments
  CHANGES.rst
  cowbird/permissions_synchronizer.py
  cowbird/typedefs.py
Labels: doc

apply permissions on user shapefile dir to make sure user can create files in it
  cowbird/handlers/impl/geoserver.py
Labels: none

create wps_outputs dir if does not exist to make sure monitoring is working
  cowbird/handlers/impl/filesystem.py
Labels: none

clarify doc about wps outputs permissions without the secure-data-proxy service
  cowbird/handlers/impl/filesystem.py
  docs/components.rst
Labels: none

Cleaning up code logic in permission synchronizer
  cowbird/permissions_synchronizer.py
Labels: none

Exclude node modules from check and fix linting
  cowbird/permissions_synchronizer.py
  cowbird/typedefs.py
  setup.cfg
Labels: ci

Fixing doc check and removing security check for node modules
  CHANGES.rst
  setup.cfg
Labels: ci, doc

update changelog
  CHANGES.rst
Labels: doc

Make key name optional when a regex is used in the config
  cowbird/config.py
  cowbird/permissions_synchronizer.py
Labels: none

ignore node_modules dir for pep8 checks
  setup.cfg
Labels: ci

ignore node_modules for bandit too
  setup.cfg
Labels: ci

retry exclude node_modules
  setup.cfg
Labels: ci

fix tests for new wps_outputs update
  cowbird/monitoring/monitoring.py
  tests/test_filesystem.py
  tests/test_monitoring.py
Labels: tests

Bump version: 2.1.0 → 2.2.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

Add resource_display_name to magpie handler for testing and regex test for permission sync
  cowbird/handlers/impl/magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

Modifying function param and return type, fixing comments
  cowbird/api/webhooks/views.py
  cowbird/permissions_synchronizer.py
Labels: api

Adding stac and thredd sync example in config.example.yml
  config/config.example.yml
Labels: none

Fixing test case to check empty permission and fixing config regex
  config/config.example.yml
  tests/test_permissions_synchronizer.py
Labels: tests

Fixing changes log typos and updating configuration doc
  CHANGES.rst
  cowbird/handlers/impl/magpie.py
  docs/configuration.rst
Labels: doc

Removing trailing whitespace
  CHANGES.rst
Labels: doc

Fixing config and updating docs
  config/config.example.yml
  docs/configuration.rst
Labels: none

Removing :key: and adding double quote
  docs/configuration.rst
Labels: none

Bump version: 2.2.0 → 2.3.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc
