Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt

Bump version: 0.0.0 → 0.1.0
  CHANGES.rst
  Dockerfile
  Makefile
  README.rst
  cowbird/__meta__.py
  setup.cfg
Labels: ci, doc

Adds main classes and config
  config/config.example.yml
  cowbird/api/services/utils.py
  cowbird/api/services/views.py
  cowbird/filesystem.py
  cowbird/monitoring.py
  cowbird/permissionssynchronizer.py
  cowbird/requestqueue.py
  cowbird/services/__init__.py
  cowbird/services/impl/__init__.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/services/service.py
Labels: api

fix tests
  cowbird/cli/services.py
  cowbird/services/__init__.py
  cowbird/services/service.py
  tests/test_api.py
Labels: cli, tests

fix pep8
  cowbird/services/__init__.py
Labels: none

fix doc
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/services/service.py
Labels: none

fix linting
  requirements-dev.txt
  tests/utils.py
Labels: tests

first draft of monitoring class
  cowbird/filesystem.py
  cowbird/monitoring.py
  cowbird/services/__init__.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
  requirements.txt
Labels: none

Load cowbird config
  config/cowbird.example.ini
  cowbird/config.py
  cowbird/monitoring/__init__.py
  cowbird/monitoring/fsmonitor.py
  cowbird/monitoring/monitoring.py
  cowbird/permissionssynchronizer.py
  cowbird/services/__init__.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/services/service.py
  cowbird/utils.py
Labels: none

fix tests
  tests/test_cli.py
  tests/utils.py
Labels: tests

monitoring is working and tested
  cowbird/app.py
  cowbird/monitoring/monitoring.py
  cowbird/services/impl/catalog.py
  setup.cfg
  tests/test_monitoring.py
Labels: ci, tests

fix linting
  cowbird/__init__.py
  cowbird/api/requests.py
  cowbird/api/services/views.py
  cowbird/app.py
  cowbird/cli/__init__.py
  cowbird/cli/services.py
  cowbird/cli/utils.py
  cowbird/config.py
  cowbird/monitoring/fsmonitor.py
  cowbird/monitoring/monitoring.py
  cowbird/permissionssynchronizer.py
  cowbird/requestqueue.py
  cowbird/services/__init__.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/service.py
  cowbird/typedefs.py
  cowbird/utils.py
  tests/test_cli.py
  tests/test_monitoring.py
  tests/test_utils.py
  tests/utils.py
Labels: api, cli, tests

add service factory
  config/config.example.yml
  cowbird/permissions_synchronizer.py
  cowbird/services/__init__.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/magpie.py
  cowbird/services/service_factory.py
  setup.cfg
  tests/test_api.py
  tests/test_permissions_synchronizer.py
  tests/test_request_queue.py
  tests/test_service_factory.py
Labels: ci, tests

Adds docstring
  cowbird/request_queue.py
  cowbird/services/impl/magpie.py
  cowbird/services/service_factory.py
Labels: none

Add some PR description
  AUTHORS.rst
  CHANGES.rst
Labels: doc

Add webhook API and draft of permissions synchronizer
  CHANGES.rst
  config/config.example.yml
  cowbird/api/requests.py
  cowbird/api/schemas.py
  cowbird/api/webhooks/__init__.py
  cowbird/api/webhooks/views.py
  cowbird/monitoring/monitoring.py
  cowbird/permissions_synchronizer.py
  cowbird/services/__init__.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/service.py
  cowbird/services/service_factory.py
  cowbird/utils.py
  tests/test_permissions_synchronizer.py
  tests/test_service_factory.py
Labels: api, doc, tests

add tests for webhooks API
  cowbird/api/requests.py
  cowbird/api/schemas.py
  cowbird/api/webhooks/views.py
  cowbird/config.py
  cowbird/services/impl/catalog.py
  cowbird/services/service.py
  tests/test_api.py
  tests/test_constants.py
  tests/utils.py
Labels: api, tests

fix pep8 and linting
  cowbird/api/requests.py
  cowbird/api/webhooks/views.py
  cowbird/config.py
  tests/test_api.py
Labels: api, tests

permission synchronizer is done
  config/config.example.yml
  cowbird/api/schemas.py
  cowbird/api/webhooks/views.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/magpie.py
  cowbird/services/service.py
  cowbird/services/service_factory.py
  docs/usage.rst
  tests/test_api.py
  tests/utils.py
Labels: api, tests

Add test for the sync permission class
  .pylintrc
  CHANGES.rst
  cowbird/permissions_synchronizer.py
  tests/test_api.py
  tests/test_permissions_synchronizer.py
  tests/test_service_factory.py
  tests/utils.py
Labels: ci, doc, tests

make webhook dispatch fct safer
  cowbird/api/webhooks/views.py
Labels: api

Remove six Str since no support of python 2
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  cowbird/typedefs.py
  tests/test_monitoring.py
Labels: tests

Improve todo rendering in documentation
  cowbird/monitoring/monitoring.py
  cowbird/permissions_synchronizer.py
  cowbird/request_queue.py
  cowbird/services/impl/magpie.py
  cowbird/services/service.py
Labels: none

Improve doc and use abc.abstractmethod for interfaces
  cowbird/monitoring/fsmonitor.py
  cowbird/monitoring/monitoring.py
  cowbird/permissions_synchronizer.py
  cowbird/request_queue.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/services/service.py
  tests/utils.py
Labels: tests

Improve some fct in permissions_synchronizer
  cowbird/permissions_synchronizer.py
Labels: none

Add more documentation around the config.yml
  config/config.example.yml
  config/cowbird.example.ini
  cowbird/constants.py
  docs/configuration.rst
Labels: none

Fix type and linting
  cowbird/permissions_synchronizer.py
  docs/configuration.rst
Labels: none

use dynamic import in service factory
  cowbird/services/service_factory.py
Labels: none

add deploy docker step in workflow
  .github/workflows/tests.yml
Labels: ci

Bump version: 0.1.0 → 0.2.0
  CHANGES.rst
  Dockerfile
  Makefile
  README.rst
  cowbird/__meta__.py
  setup.cfg
Labels: ci, doc

update docker shields statuses in README
  README.rst
Labels: doc

draft of request celery task test suite
  cowbird/request_queue.py
  cowbird/request_task.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
  requirements-dev.txt
  setup.cfg
  tests/test_request_queue.py
  tests/test_request_task.py
Labels: ci, tests

fix docker tests
  tests/ci/docker-compose.smoke-test.yml
Labels: tests

fix linting
  cowbird/request_task.py
  cowbird/services/impl/geoserver.py
  cowbird/services/service_factory.py
  tests/test_api.py
  tests/test_permissions_synchronizer.py
  tests/test_request_task.py
  tests/test_service_factory.py
  tests/utils.py
Labels: tests

Add some basic celery task test cases
  cowbird/request_task.py
  tests/test_request_task.py
Labels: tests

fix abort function/test
  cowbird/request_task.py
  requirements.txt
  tests/test_request_task.py
Labels: tests

more consistent tests setup and teardown
  tests/test_api.py
  tests/test_permissions_synchronizer.py
  tests/test_service_factory.py
  tests/utils.py
Labels: tests

Add a celery worker to the stack
  .gitignore
  Makefile
  config/cowbird.example.ini
  cowbird/utils.py
  docker/Dockerfile-base
  docker/Dockerfile-webservice
  docker/Dockerfile-worker
  docker/docker-compose.yml.example
  requirements.txt
Labels: ci

Add changes
  CHANGES.rst
Labels: doc

better exception handling while dispatching events
  cowbird/api/webhooks/views.py
Labels: api

fix magpie user hooks handling
  cowbird/api/webhooks/views.py
  tests/test_api.py
Labels: api, tests
