Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

fix some lint errors
  cowbird/app.py
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

update changelog
  CHANGES.rst
Labels: doc

fix test cases
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
  tests/test_geoserver.py
  tests/test_monitoring.py
  tests/test_request_task.py
  tests/utils.py
Labels: tests

fix lint
  cowbird/handlers/impl/filesystem.py
  docs/components.rst
Labels: none

adjust typing notations with new format
  cowbird/api/handlers/views.py
  cowbird/handlers/handler.py
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/handlers/impl/nginx.py
  cowbird/handlers/impl/thredds.py
  tests/test_filesystem.py
Labels: api, tests

resync should not delete the root folder to avoid breaking volume mounts
  cowbird/handlers/impl/filesystem.py
Labels: none

fix test check for hardlink update
  tests/test_filesystem.py
Labels: tests

implement created case for user wpsoutputs data
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

add support for a secure-data-proxy service in Magpie to handle user permissions on wpsoutputs data
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

implement resync section for the user wpsoutputs data
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/magpie.py
  tests/test_filesystem.py
Labels: tests

generate user wpsoutputs hardlinks, if any, upon user creation
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

implement permission_created and permission_deleted events to sync secure-data-proxy perms with wpsoutputs
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/utils.py
  tests/test_filesystem.py
  tests/test_magpie.py
Labels: tests

fix lint
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  cowbird/utils.py
  tests/test_filesystem.py
Labels: tests

add comment about unsupported on_modified case
  cowbird/handlers/impl/filesystem.py
Labels: none

add doc about user wps outputs files
  docs/components.rst
Labels: none

set user dirs perms to allow read and write operations on jupyterlab
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

only set the first parent dir as writable for user data, which is the minimum requirement
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

update changelog
  CHANGES.rst
Labels: doc

review some comments code
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/magpie.py
  docs/components.rst
  tests/test_filesystem.py
Labels: tests

review filesystem tests
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

adjust doc on user wpsoutputs
  docs/components.rst
Labels: none

add logging for test util function to check perms
  tests/utils.py
Labels: tests

fix lint
  tests/utils.py
Labels: tests

check only others permissions for directories during tests
  tests/test_filesystem.py
  tests/utils.py
Labels: tests

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

first batch of minor fixes after pr feedback
  CHANGES.rst
  cowbird/api/handlers/views.py
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/handlers/impl/nginx.py
  cowbird/handlers/impl/thredds.py
Labels: api, doc

remove unused get_resource_id method
  cowbird/handlers/handler.py
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/handlers/impl/nginx.py
  cowbird/handlers/impl/thredds.py
  tests/utils.py
Labels: tests

batch of fixes on the filesystem handler
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

add more details to some logging outputs
  cowbird/utils.py
Labels: none

corrections added to the doc
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/nginx.py
  docs/components.rst
  tests/test_filesystem.py
Labels: tests

fix on test class after pr feedback
  tests/test_filesystem.py
Labels: tests

add specifications on doc and review
  docs/components.rst
Labels: none

fix lint errors
  docs/components.rst
  docs/conf.py
Labels: none

fix missing variable name updates
  config/config.example.yml
  docker/.env.example
  docker/config/cowbird/cowbird.env
  docs/configuration.rst
Labels: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

Update .readthedocs.yml
  .readthedocs.yml
Labels: ci

make some (required and optional) variables of the FileSystem handler configurable
  config/config.example.yml
  cowbird/handlers/impl/filesystem.py
  docker/.env.example
  docker/config/cowbird/cowbird.env
  docs/configuration.rst
  tests/test_filesystem.py
Labels: tests

improve usage of optional parameters in handlers
  config/config.example.yml
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  docker/.env.example
  docker/config/cowbird/cowbird.env
  docs/configuration.rst
Labels: none

add schema validation on filesystem handler parameters
  cowbird/config.py
  cowbird/handlers/impl/filesystem.py
  cowbird/typedefs.py
  docker/.env.example
  docker/config/cowbird/cowbird.env
  tests/test_filesystem.py
Labels: tests

add constraints to process only wps outputs permissions on the secure-data-proxy
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt
