Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

move dockerhub hooks under docker dir for sibling location to target Dockerfile as per docs
  docker/hooks/.gitignore
  docker/hooks/README.md
  docker/hooks/build
Labels: none

add make dir to dockerhub hook calls because root dir is not repo root
  Makefile
  docker/hooks/build
Labels: ci

add push hook since only base get pushed by auto-build on DockerHub
  docker/hooks/post_push
Labels: none

Add Geoserver do docker-compose-example
  docker/docker-compose.example.yml
Labels: none

Update config.example.yml
  config/config.example.yml
Labels: none

Add admin and password parameters for services
  cowbird/services/service.py
Labels: none

Add geoserver pytest fixture
  setup.cfg
  tests/test_geoserver.py
Labels: ci, tests

Add publish_shapefile to catalog's on_create
  cowbird/services/impl/catalog.py
Labels: none

Implement Geoserver workspace deletion
  cowbird/services/impl/geoserver.py
Labels: none

Add test target for geoserver in makefile
  Makefile
Labels: ci

Cleanup geoserver service error management
  cowbird/services/impl/geoserver.py
Labels: none

Update existing geoserver tests
  tests/test_request_task.py
Labels: tests

Enable celery worker tasks for Geoserver service
  cowbird/services/impl/geoserver.py
Labels: none

Harmonize Geoserver logs with other services
  cowbird/services/impl/geoserver.py
Labels: none

Change to double quotes in geoserver.py
  cowbird/services/impl/geoserver.py
Labels: none

Add publish_shapefile feature to Geoserver service
  cowbird/services/impl/geoserver.py
Labels: none

Add tests for Geoserver requests
  tests/test_geoserver.py
Labels: tests

Reorder args in `_configure_datastore_request()`
  cowbird/services/impl/geoserver.py
Labels: none

Implement Geoserver datastore creation
  cowbird/services/impl/geoserver.py
Labels: none

Refactor Geoserver service
  cowbird/services/impl/geoserver.py
Labels: none

Add missing quotations for container ports
  docker/docker-compose.example.yml
Labels: none

Update type hints Geoserver service
  cowbird/services/impl/geoserver.py
Labels: none

Implement Geoserver workspace creation
  cowbird/services/impl/geoserver.py
  tests/test_service_factory.py
Labels: tests

Implement remove_shapefile in Geoserver service
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
Labels: none

Remove todo in test_request_task.py : test_geoserver
  tests/test_request_task.py
Labels: tests

Fix rebase mistakes
  cowbird/services/impl/geoserver.py
Labels: none

Update test_geoserver.py to use ServiceFactory
  tests/test_geoserver.py
Labels: tests

Cleanup test_geoserver.py
  tests/test_geoserver.py
Labels: tests

Temporary fix for TestSyncPermissions tests
  tests/test_geoserver.py
  tests/test_permissions_synchronizer.py
Labels: tests

Workaround for Geoserver tests side effects
  tests/test_geoserver.py
  tests/test_permissions_synchronizer.py
Labels: tests

Update AUTHORS and CHANGES files
  AUTHORS.rst
  CHANGES.rst
Labels: doc

Update geoserver service docstring
  cowbird/services/impl/geoserver.py
Labels: none

Add Geoserver user_deleted test
  tests/test_request_task.py
Labels: tests

Fix dependency issue
  requirements-doc.txt
Labels: doc

Change request to response
  cowbird/services/impl/geoserver.py
Labels: none

Correct typos and other small changes
  AUTHORS.rst
  CHANGES.rst
  config/config.example.yml
  cowbird/services/service.py
  docker/.env.example
  docker/config/cowbird/cowbird.env
  docker/docker-compose.example.yml
Labels: doc

Refactor for response handling decorator
  cowbird/services/impl/geoserver.py
Labels: none

Fix typo
  cowbird/monitoring/fsmonitor.py
Labels: none

Move shapefile datastore monitoring to Geoserver class
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
Labels: none

Cleanup of user_workspaces folder
  docker/user_workspaces/.gitignore
  docker/user_workspaces/shared_with_user2/hl_shared_with_user2
  docker/user_workspaces/user1/shared_with_user2
Labels: none

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt
