Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc

adjust permission of user dir to correspond to the birdhouse script operations
  cowbird/handlers/impl/filesystem.py
Labels: none

fix GitHub CI badge URL (relates to https://github.com/badges/shields/issues/8671)
  README.rst
Labels: doc

add tests to validate filesystem operations
  cowbird/api/schemas.py
  cowbird/api/webhooks/views.py
  setup.cfg
  tests/test_filesystem.py
Labels: api, ci, tests

update changelog
  CHANGES.rst
Labels: doc

fix lint
  tests/test_filesystem.py
Labels: tests

fix lint errors
  cowbird/api/webhooks/views.py
  cowbird/handlers/handler.py
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
  cowbird/utils.py
  tests/test_mongodb.py
Labels: api, tests

fix lint
  tests/test_mongodb.py
Labels: tests

multiple fixes after pr feedback
  cowbird/api/schemas.py
  cowbird/api/webhooks/views.py
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
  tests/utils.py
Labels: api, tests

fix lint
  cowbird/api/webhooks/views.py
  cowbird/handlers/impl/filesystem.py
Labels: api

create symlink to jupyterhub dir upon user workspace creation
  config/config.example.yml
  cowbird/handlers/impl/filesystem.py
  docker/.env.example
  docker/config/cowbird/cowbird.env
  docker/docker-compose.override.example.yml
  docs/configuration.rst
  tests/test_filesystem.py
Labels: tests

fix lint
  cowbird/api/webhooks/views.py
  tests/test_filesystem.py
Labels: api, tests

add test case for existing symlink that points to the wrong source dir
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

updated from pr feedback
  CHANGES.rst
  cowbird/api/webhooks/views.py
  cowbird/handlers/handler.py
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
  tests/utils.py
Labels: api, doc, tests

added custom monitoring exception
  cowbird/monitoring/monitoring.py
Labels: none

fix invalid test case
  cowbird/monitoring/monitoring.py
  tests/test_handler_factory.py
Labels: tests

Bump version: 1.0.0 → 1.1.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

improve error reporting on /version endpoint
  CHANGES.rst
  config/celeryconfig.py
  cowbird/api/home/views.py
  cowbird/api/schemas.py
Labels: api, doc

fix typings and typos
  CHANGES.rst
  cowbird/app.py
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/magpie.py
  cowbird/handlers/impl/nginx.py
  cowbird/handlers/impl/thredds.py
  cowbird/utils.py
  tests/test_request_task.py
Labels: doc, tests

fix import order
  cowbird/api/home/views.py
Labels: api

Bump version: 1.1.0 → 1.1.1
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

first draft, with working test case for shapefile created in filesystem, and for a permission change on Magpie
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  docker/.env.example
  tests/test_geoserver.py
  tests/test_permissions_synchronizer.py
Labels: tests

fix webhooks request for permissions
  cowbird/api/webhooks/views.py
Labels: api

update with draft methods for on_created and permission_created cases
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/permissions_synchronizer.py
  tests/test_geoserver.py
Labels: tests

Create workspace and layer resource on Magpie if required, and add test to validate the associated method
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  tests/test_magpie.py
Labels: tests

review on_created case and delete magpie permissions for unallowed permissions on filesystem
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  tests/test_geoserver.py
  tests/test_permissions_synchronizer.py
  tests/utils.py
Labels: tests

update on_permission_created function, now recursively updates the children files
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/utils.py
  tests/test_geoserver.py
  tests/utils.py
Labels: tests

validate if chmod triggers on_modified event from monitoring
  cowbird/handlers/impl/geoserver.py
  tests/test_monitoring.py
Labels: tests

add on_modified and permission_deleted cases
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/utils.py
  tests/test_geoserver.py
Labels: tests

add on_deleted case
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  tests/test_geoserver.py
  tests/test_magpie.py
Labels: tests

refactor test cases to separate magpie related and geoserver requests test cases
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  tests/test_geoserver.py
Labels: tests

refactor workspace test cases and fix the verification of octal permissions
  tests/test_geoserver.py
  tests/utils.py
Labels: tests

add test case for service permissions update
  tests/test_geoserver.py
Labels: tests

add test case for 'deny' type permissions
  tests/test_geoserver.py
Labels: tests

fix geoserver handler for TestGeoserverPermissions
  cowbird/handlers/impl/geoserver.py
  tests/test_geoserver.py
Labels: tests

review docstring
  cowbird/handlers/impl/geoserver.py
  tests/test_geoserver.py
Labels: tests

fix lint
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  tests/test_geoserver.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

fix unlink call
  cowbird/handlers/impl/geoserver.py
Labels: none

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt
