Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt

patch setup typings expect to be python3 only anyway
  setup.py
Labels: none

backward compat typing imports
  cowbird/handlers/impl/geoserver.py
  cowbird/typedefs.py
  tests/utils.py
Labels: tests

fix linting
  cowbird/database/base.py
  cowbird/monitoring/fsmonitor.py
  cowbird/stubs/cornice/__init__.pyi
  cowbird/stubs/pyramid/request.pyi
  cowbird/stubs/pyramid/view.pyi
  cowbird/typedefs.py
Labels: none

patch mongodb authenticate deprecated in v4
  cowbird/database/mongodb.py
  cowbird/stubs/celery/__init__.pyi
Labels: none

[wip] more typing annotation fixes
  cowbird/__init__.py
  cowbird/api/home/__init__.py
  cowbird/api/schemas.py
  cowbird/cli/handlers.py
  cowbird/cli/utils.py
  cowbird/config.py
  cowbird/constants.py
  cowbird/handlers/handler.py
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/handlers/impl/nginx.py
  cowbird/handlers/impl/thredds.py
  cowbird/permissions_synchronizer.py
  cowbird/request_task.py
  cowbird/stubs/celery/__init__.pyi
  cowbird/stubs/cornice/__init__.pyi
  cowbird/stubs/pyramid/view.pyi
  cowbird/typedefs.py
  cowbird/utils.py
  setup.cfg
Labels: api, cli, ci

[wip] more typings
  cowbird/__init__.py
  cowbird/api/generic.py
  cowbird/api/handlers/__init__.py
  cowbird/api/swagger/views.py
  cowbird/api/webhooks/__init__.py
  cowbird/cli/__init__.py
  cowbird/database/__init__.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/permissions_synchronizer.py
  cowbird/stubs/watchdog/observers/api.pyi
Labels: api, cli

silence mypy warnings about overloads typing ignores that contradict themselves
  cowbird/api/generic.py
  cowbird/api/requests.py
  cowbird/api/schemas.py
  cowbird/api/swagger/views.py
  cowbird/cli/utils.py
  cowbird/config.py
  cowbird/database/mongodb.py
  cowbird/handlers/handler_factory.py
  cowbird/stubs/cornice/__init__.pyi
  cowbird/typedefs.py
Labels: api, cli

[wip] more typing fixes + fix import lint
  cowbird/__init__.py
  cowbird/api/exception.py
  cowbird/api/generic.py
  cowbird/constants.py
  cowbird/database/__init__.py
  cowbird/database/mongodb.py
  cowbird/handlers/handler_factory.py
  cowbird/stubs/cornice/__init__.pyi
  cowbird/stubs/watchdog/observers/api.pyi
  cowbird/utils.py
Labels: api

update changes
  CHANGES.rst
Labels: doc

display CI dev docker-compose config for debug
  .github/workflows/tests.yml
  Makefile
Labels: ci

remove mongodb docker image setup command breaking newer version
  docker/docker-compose.example.yml
  docker/docker-compose.override.example.yml
Labels: none

attempt GitHub CI continue-on-error for allowed failing job-step
  .github/workflows/tests.yml
Labels: ci

override job-step continue on error
  .github/workflows/tests.yml
Labels: ci

fix typings of everything except perm-sync/monitoring
  cowbird/api/exception.py
  cowbird/api/generic.py
  cowbird/api/requests.py
  cowbird/api/schemas.py
  cowbird/api/swagger/views.py
  cowbird/cli/utils.py
  cowbird/database/mongodb.py
  cowbird/handlers/handler_factory.py
  cowbird/handlers/impl/magpie.py
  cowbird/typedefs.py
  cowbird/utils.py
Labels: api, cli

patch watchdog stub not detected/employed by mypy
  cowbird/monitoring/monitor.py
  cowbird/stubs/celery/__init__.pyi
  cowbird/stubs/watchdog/observers/api.pyi
Labels: none

fix redundant permission sync types and align definitions properly
  cowbird/api/generic.py
  cowbird/config.py
  cowbird/handlers/impl/magpie.py
  cowbird/permissions_synchronizer.py
  cowbird/typedefs.py
Labels: api

adjust more perm sync typings
  cowbird/config.py
  cowbird/typedefs.py
Labels: none

fix overload typing get_all_configs
  cowbird/config.py
Labels: none

patch overload typing get_all_configs with contradictary errors
  cowbird/config.py
Labels: none

pr review adjustments
  Makefile
  cowbird/cli/handlers.py
  cowbird/handlers/impl/magpie.py
  cowbird/permissions_synchronizer.py
  cowbird/typedefs.py
  cowbird/utils.py
  setup.cfg
Labels: cli, ci

apply docf linting fixes
  cowbird/permissions_synchronizer.py
  tests/test_geoserver.py
Labels: tests

Bump version: 1.2.0 → 2.0.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

unpin docformatter for bugfixes
  requirements-dev.txt
Labels: tests

add wpsoutputs path to filesystem handler
  config/config.example.yml
  cowbird/handlers/impl/filesystem.py
Labels: none

prepare user workspace wpsoutputs handling
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/magpie.py
  tests/test_filesystem.py
  tests/test_magpie.py
Labels: tests

create symlink to wpsoutputs in user workspaces
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

fix branch after merge with public-wpsoutputs branch
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

only process files (not folders) for hardlinks, and add some comment todos
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

implement on_created case for public wpsoutputs files along with associated test cases
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

implement on_deleted case
  cowbird/handlers/impl/filesystem.py
Labels: none

refactor some setup steps for filesystem testing
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

add test case for 'on_deleted' events
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

add author
  AUTHORS.rst
Labels: doc

create api endpoint for resync on a specific handler and implement filesystem resync + associated tests
  cowbird/api/handlers/__init__.py
  cowbird/api/handlers/views.py
  cowbird/api/schemas.py
  cowbird/handlers/handler.py
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: api, tests

code cleanup
  cowbird/handlers/impl/filesystem.py
  tests/test_filesystem.py
Labels: tests

add env variable for public wpsoutputs subdirectory
  config/config.example.yml
  cowbird/handlers/impl/filesystem.py
  docker/.env.example
  docker/config/cowbird/cowbird.env
  docs/configuration.rst
  tests/test_filesystem.py
Labels: tests

add placeholder resyncs to other handlers
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/handlers/impl/nginx.py
  cowbird/handlers/impl/thredds.py
Labels: none

add filesystem monitor on app startup + adjust some logging output
  cowbird/app.py
  cowbird/handlers/impl/filesystem.py
Labels: none

fix monitoring bug where filesystem monitors would be started on two different threads
  cowbird/app.py
  cowbird/handlers/impl/filesystem.py
  cowbird/monitoring/monitoring.py
Labels: none

add filesystem docs
  docs/components.rst
Labels: none
