Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

fix: docker/Dockerfile-base to reduce vulnerabilities
  docker/Dockerfile-base
Labels: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

fix: docker/Dockerfile-base to reduce vulnerabilities
  docker/Dockerfile-base
Labels: none

security update: gunicorn, magpie, docker base
  CHANGES.rst
  docker/Dockerfile-base
  requirements.txt
Labels: doc

bump sphinx attempt fix readthedocs build
  requirements-doc.txt
Labels: doc

update docs reqs
  requirements-doc.txt
Labels: doc

adjust npm based linters
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .gitignore
  .remarkignore
  .stylelintrc.json
  Makefile
  docker/hooks/README.md
  package.json
Labels: ci

adjust sphinx-autoapi
  requirements-doc.txt
Labels: doc

undo pin sphinx-autoapi
  cowbird/permissions_synchronizer.py
  requirements-doc.txt
Labels: doc

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc

fix: docker/Dockerfile-base to reduce vulnerabilities
  docker/Dockerfile-base
Labels: none

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc

ignore broken link
  docs/conf.py
Labels: none

ignore typing issues + update watchdog package
  cowbird/monitoring/monitor.py
  cowbird/typedefs.py
  requirements.txt
Labels: none

ignore typing issues + update watchdog package
  CHANGES.rst
  cowbird/monitoring/monitor.py
  cowbird/typedefs.py
  requirements.txt
Labels: doc

update jinja for docs
  requirements-doc.txt
Labels: doc

ignore pyup for jinja in docs
  requirements-doc.txt
Labels: doc

combine CI tests + add missing npm deps for CI tests
  .github/workflows/tests.yml
Labels: ci

update dev target definitions for simplified invocation by CI
  .github/workflows/tests.yml
  Makefile
Labels: ci

fix missing backslack in install-npm-remarklint
  Makefile
Labels: ci

add CODECOV_TOKEN to CI
  .github/workflows/tests.yml
Labels: ci

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

Update requirements.txt
  requirements.txt
Labels: none

update changelog
  CHANGES.rst
  requirements.txt
Labels: doc

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

update threddsclient==0.4.6 to allow Python 3.12 support (relates to https://github.com/bird-house/threddsclient/pull/17)
  requirements.txt
Labels: none

update changes
  CHANGES.rst
Labels: doc

pin crim-ca/pyramid_celery==5.0.0a fork to support Python 3.12 (relates to https://github.com/sontek/pyramid_celery/pull/102)
  CHANGES.rst
  requirements.txt
Labels: doc

Bump version: 2.3.0 → 2.4.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

Update CHANGES.rst
  CHANGES.rst
Labels: doc

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix: requirements-sys.txt to reduce vulnerabilities
  requirements-sys.txt
Labels: none

fix: docker/Dockerfile-base to reduce vulnerabilities
  docker/Dockerfile-base
Labels: none

fix: docker/Dockerfile-base to reduce vulnerabilities
  docker/Dockerfile-base
Labels: none

fix: docker/Dockerfile-base to reduce vulnerabilities
  docker/Dockerfile-base
Labels: none

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt
