Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

first batch of doc fixes after PR feedback
  CHANGES.rst
  Makefile
  config/config.example.yml
  cowbird/permissions_synchronizer.py
Labels: ci, doc

other batch of doc fixes after pr feedback
  config/config.example.yml
  cowbird/permissions_synchronizer.py
Labels: none

transfer some comments from the config example to actual doc files
  config/config.example.yml
  docs/configuration.rst
  docs/references.rst
Labels: none

improve new configuration doc
  config/config.example.yml
  docs/configuration.rst
Labels: none

improve doc config parameter table
  docs/configuration.rst
Labels: none

fix doc8 version to <1.0.0 to prevent error on github
  requirements-dev.txt
Labels: tests

Bump version: 0.4.1 → 0.5.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

refactoring cowbird 'services' to 'handlers'
  config/config.example.yml
  cowbird/api/handlers/__init__.py
  cowbird/api/handlers/views.py
  cowbird/api/schemas.py
  cowbird/api/services/views.py
  cowbird/api/webhooks/views.py
  cowbird/app.py
  cowbird/cli/handlers.py
  cowbird/config.py
  cowbird/handlers/__init__.py
  cowbird/handlers/handler.py
  cowbird/handlers/handler_factory.py
  cowbird/handlers/impl/__init__.py
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/handlers/impl/nginx.py
  cowbird/handlers/impl/thredds.py
  cowbird/monitoring/monitoring.py
  cowbird/permissions_synchronizer.py
  cowbird/services/__init__.py
  cowbird/services/service_factory.py
  docs/configuration.rst
  docs/glossary.rst
  docs/utilities.rst
  setup.cfg
  tests/test_api.py
  tests/test_cli.py
  tests/test_geoserver.py
  tests/test_handler_factory.py
  tests/test_mongodb.py
  tests/test_monitoring.py
  tests/test_permissions_synchronizer.py
  tests/test_request_task.py
  tests/test_service_factory.py
  tests/test_utils.py
  tests/utils.py
Labels: api, cli, ci, tests

fix test cases that rely on a config
  tests/test_mongodb.py
  tests/test_monitoring.py
Labels: tests

fix linter doc issues
  cowbird/config.py
  cowbird/handlers/handler.py
  cowbird/request_task.py
  tests/test_monitoring.py
Labels: tests

fix imports
  cowbird/api/webhooks/views.py
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  tests/test_mongodb.py
  tests/test_monitoring.py
  tests/test_request_task.py
Labels: api, tests

update changelog
  CHANGES.rst
Labels: doc

minor doc fixes
  config/config.example.yml
  cowbird/api/schemas.py
Labels: api

Bump version: 0.5.0 → 0.5.1
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

Bump version: 0.5.1 → 1.0.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

Bump version: 0.5.1 → 1.0.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
  setup.py
Labels: ci, doc

add typing definitions to help highlighting errors
  cowbird/handlers/handler_factory.py
  cowbird/handlers/impl/geoserver.py
  cowbird/typedefs.py
  requirements.txt
Labels: none

add logging for status about handlers/permissions loaded from config and being processed
  cowbird/api/webhooks/views.py
  cowbird/app.py
  cowbird/handlers/__init__.py
  cowbird/utils.py
  tests/test_handler_factory.py
Labels: api, tests

log raised exception on dispatched handler call for debugging
  cowbird/api/webhooks/views.py
Labels: api

fix tests
  tests/test_handler_factory.py
Labels: tests

update changelog
  CHANGES.rst
Labels: doc

add default timeout=5 to all request calls
  CHANGES.rst
  cowbird/api/webhooks/views.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  tests/test_permissions_synchronizer.py
Labels: api, doc, tests

fix linting
  .pylintrc
  setup.cfg
  tests/test_handler_factory.py
Labels: ci, tests

fix docker smoke test + log errors in case of future failures
  Makefile
  config/cowbird.example.ini
  cowbird/constants.py
  tests/ci/docker-compose.smoke-test.yml
Labels: ci, tests

ignore coverage report lines used by typing overloads
  setup.cfg
Labels: ci

use COWBIRD_REQUEST_TIMEOUT setting
  CHANGES.rst
  config/cowbird.example.ini
  cowbird/api/webhooks/views.py
  cowbird/constants.py
  cowbird/handlers/handler.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/utils.py
  docs/configuration.rst
Labels: api, doc

fix typos
  cowbird/api/webhooks/views.py
Labels: api

ignore typing overload
  setup.cfg
Labels: ci

avoid conflict slots/property definitions
  cowbird/handlers/handler.py
Labels: none

fix test
  cowbird/handlers/impl/magpie.py
  tests/test_handler_factory.py
Labels: tests

fix typings
  cowbird/handlers/handler.py
  tests/utils.py
Labels: tests

more linting/typing fixes
  cowbird/handlers/handler.py
  tests/test_handler_factory.py
  tests/utils.py
Labels: tests

fix imports linting
  tests/utils.py
Labels: tests

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix package version resolution
  setup.py
Labels: none

fix mismatch importlib-metadata with celery imports (relates to https://github.com/celery/celery/issues/7783)
  requirements.txt
Labels: none

fix lint
  setup.py
Labels: none

fix python 3.7 importlib-metadata (relates to https://github.com/celery/celery/issues/7783)
  requirements.txt
Labels: none

fix: docker/Dockerfile-base to reduce vulnerabilities
  docker/Dockerfile-base
Labels: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt
