Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt

fix celery worker command line required by celery >=5.0
  docker/Dockerfile-worker
Labels: none

remove duplicate makefile target
  Makefile
Labels: ci

cleanup in makefile docker variables
  Makefile
Labels: ci

improve docstrings
  cowbird/request_task.py
  tests/test_permissions_synchronizer.py
  tests/test_request_task.py
Labels: tests

typo in docstrings
  tests/test_permissions_synchronizer.py
Labels: tests

fix celery workers not working with pyramid (was working only in tests)
  cowbird/api/webhooks/views.py
  cowbird/app.py
  tests/utils.py
Labels: api, tests

adjust project reference in readme codacy link
  README.rst
Labels: doc

update codacy badge image link in readme
  README.rst
Labels: doc

remove deprecated --recursive isort flag
  Makefile
Labels: ci

remove invalid target check-test
  Makefile
Labels: ci

escape false positive links in markdown issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: ci

add check/fix css utilities + css style config employed locally & on codacy + apply fixes
  .dockerignore
  .gitignore
  .stylelintrc.json
  Makefile
  docs/_static/custom.css
Labels: ci

fix imports
  cowbird/app.py
Labels: none

fix invalid references to magpie
  README.rst
  config/cowbird.example.ini
Labels: doc

fix invalid docs 'Services' term
  docs/configuration.rst
Labels: none

fix cli service listing
  cowbird/cli/services.py
  cowbird/services/service_factory.py
  cowbird/utils.py
  docs/utilities.rst
Labels: cli

fix doc gen error between Celery Task and Cowbird's RequestTask
  cowbird/request_task.py
  docs/conf.py
Labels: none

fix section references across docs
  CONTRIBUTING.rst
  cowbird/request_task.py
  docs/conf.py
  docs/configuration.rst
  docs/installation.rst
  docs/references.rst
  docs/usage.rst
  docs/utilities.rst
Labels: doc

fix reference to bumpversion docker to moved file
  setup.cfg
Labels: ci

Bump version: 0.2.0 → 0.3.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

add logs and worker version
  cowbird/api/home/views.py
  cowbird/api/schemas.py
  cowbird/api/webhooks/views.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
  cowbird/services/service_factory.py
Labels: api

add composes both for running cowbird from container and locally in a dev setup
  .gitignore
  config/config.example.yml
  config/cowbird.example.ini
  docker/config/magpie/config.dev.yml
  docker/config/magpie/config.docker.yml
  docker/config/magpie/magpie.ini
  docker/docker-compose.dev.yml.example
  docker/docker-compose.override.yml.example
  docker/docker-compose.yml.example
Labels: ci

update the makefile to launch full and dev composes easily
  Makefile
Labels: ci

fix tests with new config example
  tests/test_cli.py
  tests/test_service_factory.py
Labels: tests

fix code style
  cowbird/api/home/views.py
  docs/conf.py
  tests/test_service_factory.py
Labels: api, tests

update cowbird diagram to reflect latest changes
  docs/_static/cowbird_components.png
Labels: none

some fixes in the Makefile
  Makefile
Labels: ci

make worker_version parsable, but still give some context in version_detail string
  cowbird/api/home/views.py
  cowbird/api/schemas.py
Labels: api

fix logger caps
  cowbird/api/webhooks/views.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
  cowbird/services/service_factory.py
Labels: api

fix docstring
  docs/conf.py
Labels: none

tweak composes for newline endings and useless comments
  .gitignore
  docker/config/magpie/magpie.ini
  docker/docker-compose.override.yml.example
  docker/docker-compose.yml.example
Labels: ci

use directly example files in compose
  .gitignore
  Makefile
  docker/docker-compose.dev.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.override.example.yml
Labels: ci

improve active services testing
  tests/test_cli.py
  tests/test_service_factory.py
Labels: tests

create the cowbird.ini file for docker-compose on the fly from the makefile target docker-up
  Makefile
  config/cowbird.example.ini
  docker/docker-compose.override.example.yml
Labels: ci

fix bug with default config when missing
  cowbird/services/service_factory.py
Labels: none

avoid passing event name to the dispatch function when it can be retrieved otherwise
  cowbird/api/webhooks/views.py
Labels: api

fix code style
  cowbird/api/webhooks/views.py
  docs/conf.py
Labels: api

use celery config with mongo backend
  .gitignore
  Makefile
  config/celeryconfig.py
  config/cowbird.example.ini
  cowbird/utils.py
  docker/docker-compose.override.example.yml
  tests/ci/docker-compose.magpie.yml
  tests/ci/docker-compose.smoke-test.yml
  tests/ci/magpie.ini
  tests/ci/test.env
Labels: ci, tests

fix code styling
  config/celeryconfig.py
  cowbird/utils.py
Labels: none

monitor's mongo store draft
  config/cowbird.example.ini
  cowbird/api/home/views.py
  cowbird/app.py
  cowbird/database/__init__.py
  cowbird/database/mongodb.py
  cowbird/database/stores.py
  cowbird/monitoring/fsmonitor.py
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
  cowbird/services/impl/catalog.py
  cowbird/services/service_factory.py
  cowbird/utils.py
  tests/test_monitoring.py
Labels: api, tests
