Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

remove old webhook tests that became unnecessary with new magpie/permissions_synchronizer tests
  config/config.example.yml
  tests/test_api.py
  tests/test_permissions_synchronizer.py
  tests/utils.py
Labels: tests

add documentation on the new config format + update changelog
  CHANGES.rst
  config/config.example.yml
Labels: doc

fix lint errors
  cowbird/app.py
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/magpie.py
  tests/test_api.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

refactor magpie admin username/password to env variable and config
  Makefile
  config/config.example.yml
  cowbird/services/impl/magpie.py
  docker/.env.example
  docker/config/cowbird/cowbird.env
  docker/docker-compose.example.yml
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: ci, tests

fix lint
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

update mongo to 3.6.0 to avoid test errors
  docker/docker-compose.example.yml
Labels: none

second try to fix mongo test errors, bumped other mongo versions to 3.6
  .github/workflows/tests.yml
  tests/ci/docker-compose.smoke-test.yml
Labels: ci, tests

fix missing magpie credentials error + security issue warning
  cowbird/config.py
  cowbird/services/impl/magpie.py
  tests/test_service_factory.py
Labels: tests

add target to run magpie online tests
  Makefile
Labels: ci

fix jinja2 error with version 3.1
  requirements-doc.txt
Labels: doc

fix css lint error
  .stylelintrc.json
Labels: ci

retry with mongo 3.4
  .github/workflows/tests.yml
  docker/docker-compose.example.yml
  tests/ci/docker-compose.smoke-test.yml
Labels: ci, tests

update changelog
  CHANGES.rst
Labels: doc

review some comments
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/magpie.py
  tests/test_magpie.py
Labels: tests

update pylint to fix pyup safety error + fix new lint errors
  .pylintrc
  cowbird/api/exception.py
  cowbird/api/schemas.py
  cowbird/cli/__init__.py
  cowbird/config.py
  cowbird/database/mongodb.py
  docs/_ext/doc_redirect.py
  docs/conf.py
  requirements-dev.txt
  requirements-doc.txt
  tests/test_cli.py
  tests/test_geoserver.py
  tests/test_monitoring.py
  tests/utils.py
Labels: api, cli, ci, doc, tests

fix some issues after pr feedback
  CHANGES.rst
  config/config.example.yml
  cowbird/api/webhooks/views.py
  cowbird/permissions_synchronizer.py
Labels: api, doc

standardize the notation of params in docstrings
  cowbird/api/exception.py
  cowbird/api/requests.py
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/services/service.py
  cowbird/utils.py
  setup.py
  tests/utils.py
Labels: api, tests

add raw formatting for all regex related strings
  cowbird/permissions_synchronizer.py
Labels: none

fix some issues after pr feedback
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/magpie.py
Labels: none

add some docstrings to test functions
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

add new makefile target to fix f-string definitions + fix f-strings lint errors
  .pylintrc
  Makefile
  cowbird/api/__init__.py
  cowbird/api/exception.py
  cowbird/api/schemas.py
  cowbird/cli/__init__.py
  cowbird/cli/utils.py
  cowbird/config.py
  cowbird/constants.py
  cowbird/database/base.py
  cowbird/database/mongodb.py
  cowbird/monitoring/monitor.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/service.py
  cowbird/services/service_factory.py
  cowbird/utils.py
  docs/_ext/doc_redirect.py
  docs/conf.py
  requirements-dev.txt
  setup.py
  tests/test_api.py
  tests/test_cli.py
  tests/test_magpie.py
  tests/test_utils.py
  tests/utils.py
Labels: api, cli, ci, tests

fix remaining lint errors related to f-strings
  cowbird/api/home/views.py
  cowbird/api/requests.py
  cowbird/constants.py
  cowbird/monitoring/monitor.py
  cowbird/services/impl/geoserver.py
  cowbird/services/service.py
  tests/utils.py
Labels: api, tests

fix lint errors 'consider-using-with'
  .pylintrc
  cowbird/config.py
  tests/test_api.py
  tests/test_cli.py
  tests/test_geoserver.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
  tests/test_service_factory.py
Labels: ci, tests

add more explanation on token usage in the config
  config/config.example.yml
Labels: none

add some yaml schema validation
  cowbird/app.py
  cowbird/config.py
  requirements.txt
Labels: none

fix test error with empty sync_permissions configs
  cowbird/config.py
Labels: none

add and to characters permitted in resource_names
  cowbird/api/webhooks/views.py
  cowbird/permissions_synchronizer.py
  tests/test_magpie.py
Labels: api, tests

rename SyncPoint attribute
  cowbird/permissions_synchronizer.py
Labels: none

add test case for duplicate resource keys in the config
  tests/test_permissions_synchronizer.py
Labels: tests

add config validation and tests for the new config format
  cowbird/config.py
  tests/test_permissions_synchronizer.py
Labels: tests

updated config example
  config/config.example.yml
Labels: none

first draft implementation of new config format
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/magpie.py
  tests/test_magpie.py
Labels: tests

working basic test without tokens along with some refactoring of functions
  cowbird/permissions_synchronizer.py
  tests/test_magpie.py
Labels: tests

update tests to new config format + minor fixes for bugs found while testing
  cowbird/app.py
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

sync config now uses magpie service names
  config/config.example.yml
  cowbird/app.py
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/magpie.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

reintegrate older tests that used Magpie mocking
  tests/test_api.py
  tests/test_permissions_synchronizer.py
  tests/utils.py
Labels: tests

attempt test with remote magpie
  .github/workflows/tests.yml
  tests/test_permissions_synchronizer.py
  tests/utils.py
Labels: ci, tests

fix volume path
  .github/workflows/tests.yml
Labels: ci

try other magpie instance startup method
  .github/workflows/tests.yml
Labels: ci

attempt using docker-compose up directly
  .github/workflows/tests.yml
Labels: ci

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt
