Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt

fix sphinx requirement for various python versions
  requirements-doc.txt
Labels: doc

fix typing for get_multiformat_body function
  cowbird/api/requests.py
Labels: api

fix webhook exception traceback
  cowbird/api/webhooks/views.py
Labels: api

try specifying egg with magpie package for snyk issues
  requirements.txt
Labels: none

fix lint
  cowbird/api/requests.py
  cowbird/api/webhooks/views.py
Labels: api

retry install without egg for magpie
  requirements.txt
Labels: none

remove install-npm from makefile check-css-only target
  Makefile
Labels: ci

Bump version: 1.1.1 → 1.2.0
  CHANGES.rst
  Makefile
  README.rst
  cowbird/__meta__.py
  docker/Dockerfile-base
  setup.cfg
Labels: ci, doc

add missing typings + fix deprecated distutils.version -> packaging.version
  .pylintrc
  docker/.gitignore
  requirements-dev.txt
  requirements-doc.txt
  requirements.txt
  setup.py
  tests/test_geoserver.py
  tests/test_monitoring.py
  tests/utils.py
Labels: ci, doc, tests

add more python versions in GitHub CI tests + adjust docker configs to override local dev ports + more typings
  .github/workflows/tests.yml
  CHANGES.rst
  Makefile
  cowbird/handlers/impl/geoserver.py
  docker/docker-compose.dev.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.override.example.yml
  setup.py
Labels: ci, doc

fix typos and security linting
  CHANGES.rst
  cowbird/api/webhooks/views.py
Labels: api, doc

more typings
  cowbird/api/webhooks/views.py
  tests/test_geoserver.py
Labels: api, tests

auto-fix imports linting
  cowbird/api/webhooks/views.py
  setup.py
  tests/test_monitoring.py
  tests/utils.py
Labels: api, tests

fix typo
  requirements-dev.txt
Labels: tests

fix GitLab CI python 3.10 YAML escape
  .github/workflows/tests.yml
Labels: ci

separate exposed ports for dev CI/tests composes
  Makefile
  docker/docker-compose.dev.example.yml
  docker/docker-compose.dev.override.yml
Labels: ci

avoid mismatch host network and port binding for magpie
  docker/docker-compose.dev.override.yml
Labels: none

add packaging requirement
  requirements.txt
Labels: none

move packaging requirement location to pre-install before when required in setup script
  requirements-sys.txt
  requirements.txt
Labels: none

remove setup.py install reference in makefile
  Makefile
Labels: ci

revert distutils.version fallback in setup.py to handle some edge cases
  setup.py
Labels: none

pre-install system deps and then apply propert resolver for following pkg/dev deps
  .github/workflows/tests.yml
  Makefile
Labels: ci

avoid GitHub CI container startup if unrequired for given test job
  .github/workflows/tests.yml
Labels: ci

skip check installs in CI
  .github/workflows/tests.yml
Labels: ci

add open port for CI mongodb service
  docker/docker-compose.dev.override.yml
Labels: none

setup workspace in GitHub CI making sure the directory exists
  .github/workflows/tests.yml
Labels: ci

fix CI
  .github/workflows/tests.yml
Labels: ci

fix broken stylelint css check
  Makefile
Labels: ci

fix docs and npm deps for checks
  Makefile
  requirements-doc.txt
Labels: ci, doc

fix CI missing npm for css check
  .github/workflows/tests.yml
Labels: ci

use image mongo:5.0 instead of old 3.4
  docker/docker-compose.example.yml
  tests/ci/docker-compose.smoke-test.yml
Labels: tests

update sphinx-autoapi to help resolve conflicting packages
  requirements-doc.txt
Labels: doc

combine all sphinx related versions across python versions
  requirements-doc.txt
Labels: doc

more versions alignment
  cowbird/database/stores.py
  requirements-doc.txt
  requirements.txt
  tests/test_monitoring.py
Labels: doc, tests

ignore backward support
  requirements-doc.txt
Labels: doc

bump ReadTheDocs Python 3.10
  .readthedocs.yml
Labels: ci

drop python 3.7
  .github/workflows/tests.yml
  CHANGES.rst
  requirements-dev.txt
  requirements-doc.txt
  requirements.txt
  setup.py
Labels: ci, doc, tests

convert type comments to type annotations + improve input type validation of geoserver handler
  CHANGES.rst
  cowbird/api/exception.py
  cowbird/api/generic.py
  cowbird/api/requests.py
  cowbird/api/schemas.py
  cowbird/api/swagger/views.py
  cowbird/api/webhooks/views.py
  cowbird/cli/__init__.py
  cowbird/cli/handlers.py
  cowbird/cli/utils.py
  cowbird/config.py
  cowbird/constants.py
  cowbird/database/__init__.py
  cowbird/database/base.py
  cowbird/database/mongodb.py
  cowbird/database/stores.py
  cowbird/handlers/__init__.py
  cowbird/handlers/handler.py
  cowbird/handlers/handler_factory.py
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/handlers/impl/nginx.py
  cowbird/handlers/impl/thredds.py
  cowbird/monitoring/fsmonitor.py
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
  cowbird/permissions_synchronizer.py
  cowbird/request_task.py
  cowbird/typedefs.py
  cowbird/utils.py
  setup.py
  tests/test_geoserver.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
  tests/test_request_task.py
  tests/utils.py
Labels: api, cli, doc, tests

fix cowbird/magpie interaction typings
  cowbird/handlers/impl/magpie.py
  cowbird/permissions_synchronizer.py
  cowbird/typedefs.py
Labels: none

handle magpie typings undefined at runtime since it still uses type comments
  cowbird/handlers/impl/magpie.py
  cowbird/permissions_synchronizer.py
  cowbird/typedefs.py
  cowbird/utils.py
Labels: none
