Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

fix unsupported unlink function
  cowbird/handlers/impl/geoserver.py
Labels: none

fix test errors
  CHANGES.rst
  tests/test_api.py
  tests/test_filesystem.py
  tests/test_permissions_synchronizer.py
Labels: doc, tests

try enable geoserver tests on github ci
  tests/test_geoserver.py
Labels: tests

isolate celery tasks to fix request_task tests
  cowbird/handlers/impl/geoserver.py
  tests/test_request_task.py
Labels: tests

fix lint
  tests/test_request_task.py
Labels: tests

test log to check user permissions on github
  tests/test_geoserver.py
Labels: tests

try other function to test user access
  tests/test_geoserver.py
Labels: tests

reset and try test with sudo permissions
  .github/workflows/tests.yml
  tests/test_geoserver.py
Labels: ci, tests

try again
  .github/workflows/tests.yml
Labels: ci

try displaying user permission info
  .github/workflows/tests.yml
Labels: ci

try again
  .github/workflows/tests.yml
Labels: ci

try changing ownership of user_workspaces folder for testing
  .github/workflows/tests.yml
Labels: ci

try again with sudo
  .github/workflows/tests.yml
Labels: ci

fix chown
  .github/workflows/tests.yml
Labels: ci

add reset db to the monitoring tests
  tests/test_monitoring.py
Labels: tests

fix some tests where the db and handlers were not reset
  tests/test_filesystem.py
  tests/test_geoserver.py
  tests/test_monitoring.py
Labels: tests

try with workspace_dir variable instead of hardcoded path
  .github/workflows/tests.yml
Labels: ci

rephrase github step
  .github/workflows/tests.yml
Labels: ci

update doc and comments about the use of Magpie service types in the config
  config/config.example.yml
  cowbird/config.py
  cowbird/handlers/impl/magpie.py
  docs/configuration.rst
Labels: none

first batch of fixes after pr feedback
  cowbird/api/webhooks/views.py
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  docker/.env.example
  tests/test_filesystem.py
  tests/test_geoserver.py
  tests/utils.py
Labels: api, tests

add case for the recursive test
  tests/test_geoserver.py
Labels: tests

remove any group or other permissions when updating file permissions in geoserver
  cowbird/utils.py
  tests/test_geoserver.py
Labels: tests

minor fixes for pr feedback
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/utils.py
Labels: none

replace hardcoded values to magpie variables
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  docker/Dockerfile-base
  requirements.txt
  tests/test_geoserver.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

move magpie functions that are test-specific only
  cowbird/handlers/impl/magpie.py
  tests/test_geoserver.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

fix typings for lists and dicts using JSON
  cowbird/handlers/impl/magpie.py
Labels: none

refactor function to update file paths after a recursive permission update
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
Labels: none

use env variable for uid/gid
  cowbird/constants.py
  cowbird/handlers/impl/filesystem.py
  cowbird/handlers/impl/geoserver.py
  tests/test_geoserver.py
Labels: tests

invert create_if_missing parameter
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  tests/test_geoserver.py
  tests/test_magpie.py
Labels: tests

make http code more obvious in error display
  cowbird/handlers/impl/magpie.py
Labels: none

add info to exception logs
  cowbird/handlers/impl/magpie.py
Labels: none

check if test workspace is in temp dir before changing permissions and deleting
  tests/test_geoserver.py
Labels: tests

extra ignores
  .dockerignore
  .gitignore
Labels: ci

base package security fixes
  requirements-dev.txt
  requirements-doc.txt
  requirements-sys.txt
  requirements.txt
Labels: doc, tests

explicit sys install for readthedocs before the rest to make setuptools update available
  .readthedocs.yml
Labels: ci

fix missing urllib+libopenssl dependency for readthedocs (relates to https://github.com/readthedocs/readthedocs.org/issues/10290)
  .readthedocs.yml
Labels: ci

fix python version in readthedocs config
  .readthedocs.yml
Labels: ci

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc

use pytext fixture for tmpdirs
  tests/test_geoserver.py
  tests/test_magpie.py
Labels: tests

remove magpie resources on user deletion
  cowbird/handlers/impl/catalog.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/monitoring/fsmonitor.py
  tests/test_geoserver.py
  tests/test_magpie.py
Labels: tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt
