Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt

add make target to run containers in background
  .github/workflows/tests.yml
  Makefile
Labels: ci

fix config variable strings
  config/config.example.yml
Labels: none

try logging docker containers
  .github/workflows/tests.yml
  Makefile
Labels: ci

disable linter for now
  .github/workflows/tests.yml
  cowbird/services/impl/magpie.py
Labels: ci

try to display docker containers
  .github/workflows/tests.yml
Labels: ci

fix makefile typo
  .github/workflows/tests.yml
  Makefile
Labels: ci

check curl request
  .github/workflows/tests.yml
Labels: ci

add details to login exception
  cowbird/services/impl/magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

use temp output for debugging
  cowbird/services/impl/magpie.py
Labels: none

use temp output for debugging
  cowbird/services/service_factory.py
Labels: none

use temp output for debugging
  cowbird/services/service_factory.py
Labels: none

bugfix tests where service_factory was not properly reset
  cowbird/services/impl/magpie.py
  cowbird/services/service_factory.py
  tests/test_cli.py
  tests/test_permissions_synchronizer.py
Labels: tests

fix config example and attempt to fix failing cli test
  config/config.example.yml
  requirements.txt
  tests/test_cli.py
Labels: tests

fix test cli services_list, by avoiding using a subprocess and using mocked magpie
  requirements.txt
  tests/test_cli.py
  tests/utils.py
Labels: tests

fix test for an invalid magpie service found in the sync config
  cowbird/config.py
  tests/test_permissions_synchronizer.py
Labels: tests

cleanup leftover code/comments for github tests attempts
  .github/workflows/tests.yml
  Makefile
  tests/test_permissions_synchronizer.py
  tests/utils.py
Labels: ci, tests

update docstrings and typings
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/magpie.py
  setup.cfg
  tests/test_api.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: ci, tests

fix some lint errors
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/magpie.py
  tests/test_cli.py
  tests/test_permissions_synchronizer.py
  tests/utils.py
Labels: tests

add support for implicit and explicit permission format in config
  config/config.example.yml
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  tests/test_permissions_synchronizer.py
Labels: tests

first batch of small fixes after pr feedback
  .github/workflows/tests.yml
  .pylintrc
  CHANGES.rst
  Makefile
  config/config.example.yml
  cowbird/api/home/views.py
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  setup.cfg
  tests/test_cli.py
  tests/test_permissions_synchronizer.py
Labels: api, ci, doc, tests

review typings
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  cowbird/typedefs.py
Labels: none

small fixes after pr feedback
  config/config.example.yml
  cowbird/config.py
Labels: none

update typing
  cowbird/config.py
Labels: none

fixes after pr feedback
  cowbird/config.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/services/service.py
  cowbird/services/service_factory.py
  cowbird/typedefs.py
  tests/test_permissions_synchronizer.py
  tests/utils.py
Labels: tests

fix pylint issues
  .pylintrc
  CHANGES.rst
  requirements-dev.txt
Labels: ci, doc, tests

fix docf
  cowbird/config.py
  cowbird/permissions_synchronizer.py
Labels: none

update service names in config example
  config/config.example.yml
Labels: none

fix magpie init args
  cowbird/services/impl/magpie.py
  tests/test_permissions_synchronizer.py
Labels: tests

add some config doc and more examples
  config/config.example.yml
  cowbird/permissions_synchronizer.py
Labels: none

use env variables in tests
  docker/.env.example
  requirements.txt
  tests/test_permissions_synchronizer.py
Labels: tests

add test for config with cross service mappings
  tests/test_permissions_synchronizer.py
Labels: tests

add test cases for user and/or group selections + related fix
  cowbird/permissions_synchronizer.py
  tests/test_permissions_synchronizer.py
Labels: tests

add cookies caching with timeout
  cowbird/services/impl/magpie.py
Labels: none

add new test cases for array type permissions and fix missing case support
  cowbird/permissions_synchronizer.py
  tests/test_permissions_synchronizer.py
Labels: tests

check test case for multi_token with 0 segment occurrence
  tests/test_permissions_synchronizer.py
Labels: tests

additional details to config example
  config/config.example.yml
Labels: none

review comment
  tests/test_permissions_synchronizer.py
Labels: tests

filter user/group permissions automatically if None, for removed events
  cowbird/permissions_synchronizer.py
  tests/test_permissions_synchronizer.py
Labels: tests

fix imports linter
  tests/test_permissions_synchronizer.py
Labels: tests

disable cyclic-import pylint warnings which were triggered on already handled cases
  .pylintrc
Labels: ci
