Repository Ouranosinc/cowbird, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, ci, doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - cowbird/api/**/*

cli:
  - cowbird/cli/**/*

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

tests:
  - tests/**/*
  - requirements-dev.txt

add cases for workspace created/updated/deleted
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  tests/test_geoserver.py
  tests/test_magpie.py
  tests/test_monitoring.py
  tests/test_permissions_synchronizer.py
  tests/utils.py
Labels: tests

add support for other optional shapefile extensions
  cowbird/handlers/impl/geoserver.py
  tests/test_geoserver.py
Labels: tests

use pserver instead of gunicorn in dockerfile to fix the update to gunicorn>=20
  docker/Dockerfile-webservice
Labels: none

make sure uid and gid constants are of int type, even when they come from the birdhouse config
  cowbird/constants.py
Labels: none

fix monitors sometimes not synchronized between database and Monitoring's monitors dict
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
Labels: none

prevent looping events between cowbird and magpie when creating/modifying paths/permissions
  CHANGES.rst
  cowbird/handlers/impl/geoserver.py
  cowbird/monitoring/monitor.py
Labels: doc

fix keyerror because the webhook does not have the service type
  cowbird/api/requests.py
  cowbird/api/webhooks/views.py
  cowbird/handlers/impl/magpie.py
  cowbird/permissions_synchronizer.py
  tests/test_permissions_synchronizer.py
Labels: api, tests

fix lint
  cowbird/api/webhooks/views.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/permissions_synchronizer.py
  tests/test_geoserver.py
  tests/test_magpie.py
  tests/test_permissions_synchronizer.py
Labels: api, tests

add 'service_type' to the permission webhooks
  CHANGES.rst
  cowbird/api/webhooks/views.py
  cowbird/handlers/impl/geoserver.py
  cowbird/permissions_synchronizer.py
  tests/test_api.py
  tests/test_permissions_synchronizer.py
Labels: api, doc, tests

keep execute permissions on workspace folders
  cowbird/handlers/impl/geoserver.py
Labels: none

add the tests folder to the doc generated by autoapi
  .gitignore
  Makefile
  docs/conf.py
Labels: ci

minor changes for linting, formatting and logging
  cowbird/api/webhooks/views.py
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  tests/test_geoserver.py
  tests/test_magpie.py
Labels: api, tests

first draft of doc for the geoserver handler, explaining the sync of permissions with magpie
  docs/components.rst
  docs/configuration.rst
Labels: none

use deny permissions for shapefile too, to avoid unconsistent cases with the file system
  cowbird/handlers/impl/geoserver.py
  cowbird/handlers/impl/magpie.py
  cowbird/permissions_synchronizer.py
  docs/components.rst
  tests/test_geoserver.py
  tests/test_permissions_synchronizer.py
Labels: tests

adjust design, assigning permissions only if it doesn't already resolves to the right permission
  cowbird/handlers/impl/geoserver.py
  tests/test_geoserver.py
  tests/test_magpie.py
Labels: tests

add new specific test cases
  cowbird/handlers/impl/geoserver.py
  tests/test_geoserver.py
Labels: tests

update doc with latest changes
  docs/components.rst
  tests/test_geoserver.py
Labels: tests

add explanation for renaming shapefile case
  docs/components.rst
Labels: none

add doc note about group permissions
  docs/components.rst
Labels: none

fix missing parameters after function update
  tests/test_permissions_synchronizer.py
Labels: tests

try pinning celery[mongodb] version for py<3.8 for avoid newer version with dependency problem
  docs/components.rst
  requirements.txt
Labels: none

fix request tests by adding mocked magpie
  tests/test_request_task.py
  tests/utils.py
Labels: tests

support typecheck with tuple of multiple types for a request body
  CHANGES.rst
  cowbird/api/exception.py
  cowbird/api/requests.py
  cowbird/api/webhooks/views.py
  tests/test_permissions_synchronizer.py
Labels: api, doc, tests

permissions are now updated on 'others' instead of 'user', and geoserver files/folders are owned by the admin user
  cowbird/constants.py
  cowbird/handlers/impl/geoserver.py
  cowbird/utils.py
  docs/components.rst
  tests/test_geoserver.py
Labels: tests

fix monitoring comments from pr
  cowbird/monitoring/monitoring.py
  tests/test_monitoring.py
Labels: tests

review on the geoserver handler documentation after pr feedback
  cowbird/permissions_synchronizer.py
  docs/components.rst
Labels: none

pin magpie version
  requirements.txt
Labels: none

fix usage of the 'online' marker for pytest
  .github/workflows/tests.yml
  Makefile
  tests/test_geoserver.py
  tests/test_permissions_synchronizer.py
Labels: ci, tests

updated use of enums
  tests/test_permissions_synchronizer.py
Labels: tests

review exceptions and added new test case for magpie handler
  cowbird/handlers/impl/magpie.py
  setup.cfg
  tests/test_magpie.py
Labels: ci, tests

fix lint errors
  cowbird/api/exception.py
  docs/components.rst
  tests/test_geoserver.py
Labels: api, tests

review comment
  cowbird/handlers/impl/geoserver.py
Labels: none

fix flagged package requirements by pyup (threddsclient requires https://github.com/bird-house/threddsclient/pull/11)
  requirements-dev.txt
  requirements.txt
Labels: tests

update docformatter and move config to setup.cfg now supported
  Makefile
  requirements-dev.txt
  setup.cfg
Labels: ci, tests

add Makefile checks/fixes 'only' target variants
  Makefile
Labels: ci

apply fixes by docformatter
  cowbird/app.py
  cowbird/config.py
  cowbird/request_task.py
  tests/test_api.py
  tests/test_cli.py
  tests/test_utils.py
Labels: tests

update changes
  CHANGES.rst
Labels: doc

update celery
  requirements.txt
Labels: none

update pycodestyle
  requirements-doc.txt
Labels: doc

update docker python version and adjust celery requirement accordingly to available python versions
  CHANGES.rst
  docker/Dockerfile-base
  requirements.txt
Labels: doc
