Repository Ouranosinc/cowbird, pull requests merged in 2021-07, with the labels that each got.

#5 Request queue
  .gitignore
  CHANGES.rst
  Makefile
  config/cowbird.example.ini
  cowbird/api/webhooks/views.py
  cowbird/app.py
  cowbird/request_queue.py
  cowbird/request_task.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
  cowbird/services/service_factory.py
  cowbird/utils.py
  docker/Dockerfile-base
  docker/Dockerfile-webservice
  docker/Dockerfile-worker
  docker/docker-compose.yml.example
  requirements-dev.txt
  requirements.txt
  setup.cfg
  tests/ci/docker-compose.smoke-test.yml
  tests/test_api.py
  tests/test_permissions_synchronizer.py
  tests/test_request_queue.py
  tests/test_request_task.py
  tests/test_service_factory.py
  tests/utils.py
Labels: api, ci, doc, tests

#7 adjust readme codacy links + add/fix other check targets
  .dockerignore
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .gitignore
  .stylelintrc.json
  CONTRIBUTING.rst
  Makefile
  README.rst
  config/cowbird.example.ini
  cowbird/app.py
  cowbird/cli/services.py
  cowbird/request_task.py
  cowbird/services/service_factory.py
  cowbird/utils.py
  docs/_static/custom.css
  docs/conf.py
  docs/configuration.rst
  docs/installation.rst
  docs/references.rst
  docs/usage.rst
  docs/utilities.rst
Labels: ci, cli, doc

#8 fix reference to bumpversion docker to moved file
  setup.cfg
Labels: ci

#9 Compose setup
  .gitignore
  Makefile
  config/config.example.yml
  config/cowbird.example.ini
  cowbird/api/home/views.py
  cowbird/api/schemas.py
  cowbird/api/webhooks/views.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/geoserver.py
  cowbird/services/service_factory.py
  docker/config/magpie/config.dev.yml
  docker/config/magpie/config.docker.yml
  docker/config/magpie/magpie.ini
  docker/docker-compose.dev.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.override.example.yml
  docker/docker-compose.yml.example
  docs/_static/cowbird_components.png
  docs/conf.py
  tests/test_cli.py
  tests/test_service_factory.py
Labels: api, ci, tests
