Repository Ouranosinc/cowbird, pull requests merged in 2021-08, with the labels that each got.

#10 Catalog monitoring impl
  .codacy.yml
  .github/workflows/tests.yml
  .gitignore
  CHANGES.rst
  Makefile
  config/celeryconfig.py
  config/config.example.yml
  config/cowbird.example.ini
  cowbird/__init__.py
  cowbird/api/home/views.py
  cowbird/api/webhooks/views.py
  cowbird/app.py
  cowbird/cli/services.py
  cowbird/database/__init__.py
  cowbird/database/base.py
  cowbird/database/mongodb.py
  cowbird/database/stores.py
  cowbird/monitoring/fsmonitor.py
  cowbird/monitoring/monitor.py
  cowbird/monitoring/monitoring.py
  cowbird/permissions_synchronizer.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/services/service.py
  cowbird/services/service_factory.py
  cowbird/typedefs.py
  cowbird/utils.py
  docker/Dockerfile-base
  docker/config/cowbird/cowbird.env
  docker/docker-compose.override.example.yml
  docker/user_workspaces/shared_with_user2/hl_shared_with_user2
  docker/user_workspaces/user1/shared_with_user2
  setup.cfg
  tests/ci/docker-compose.magpie.yml
  tests/ci/docker-compose.smoke-test.yml
  tests/ci/magpie.ini
  tests/ci/test.env
  tests/test_mongodb.py
  tests/test_monitoring.py
  tests/test_permissions_synchronizer.py
  tests/test_service_factory.py
  tests/utils.py
Labels: api, cli, ci, doc, tests

#11 Add ssl verify setting
  CHANGES.rst
  config/cowbird.example.ini
  cowbird/api/webhooks/views.py
  cowbird/services/impl/catalog.py
  cowbird/services/impl/filesystem.py
  cowbird/services/impl/geoserver.py
  cowbird/services/impl/magpie.py
  cowbird/services/impl/nginx.py
  cowbird/services/impl/thredds.py
  cowbird/services/service.py
  cowbird/services/service_factory.py
  cowbird/utils.py
  docker/config/cowbird/cowbird.env
  docker/docker-compose.dev.example.yml
  docker/docker-compose.example.yml
  tests/test_service_factory.py
  tests/utils.py
Labels: api, doc, tests

#12 add explicit DockerHub build hook to build both worker/webservice images
  README.rst
  hooks/.gitignore
  hooks/README.md
  hooks/build
Labels: ci, doc

#13 fix breaking documentation due to package incompatibilities
  requirements-doc.txt
Labels: doc
